<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baiyu.cewangsu" >


    <uses-permission android:name="android.permission.INTERNET" /><!--网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
                     android:requestLegacyExternalStorage="true"/><!--访问 wifi权限 访问外部文件权限  -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cewangsu"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31" >
        <!--networkSecurityConfig 网络上面说高版本安卓 http 支持噢-->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".DownloadServer"/>
    </application>

</manifest>